{% extends 'app/baseFront.html.twig' %}

{% block title %}A propos Para el jinene{% endblock %}

{% block body %}
<br><br><br>
<div class="container">
    <h1>A propos</h1>
    <br>
    <p>PARA EL JINENE est une parapharmacie qui met à votre disposition un large choix de produits des plus grandes marques à des prix réduits
Vous pourrez découvrir chaque mois nos offres en matière de soins du visage et du corps, produits d'hygiène, soins capillaires, produits anti-âge et minceur, diététique, compléments nutritionnels, soins du bébé et cosmétique bio, etc....
    </p>
    <p>
Toute l'équipe de la parapharmacie PARA EL JINENE s'engage à vous satisfaire en termes de choix, qualité, prix et très bon service.</p>
</div>

{% endblock %}
