{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}
{% block url %}{{ path('admin.index') }}{% endblock %}
{% block body %}
	<br><br><br><br>
		<h1>Bienvenue !</h1>
		<!-- main content area end -->
{% endblock %}
