{% extends 'app/baseFront.html.twig' %}

{% block title %}Réinitialisez votre mot de passe{% endblock %}

{% block body %}
<div class="container">
    <br>
    <div class="row">
        <div class="row flex col-md-3"></div>
        <div class="row flex mt-4 mb-4 col-md-6">
        {% for flashError in app.flashes('reset_password_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}
        <h2>Réinitialisez votre mot de passe</h2>
        {{ form_start(requestForm) }}
            {{ form_row(requestForm.email) }}
            <button style="background-color:#2ecc71;border-color:#2ecc71;" class="btn btn-primary" >Envoyer</button>
        {{ form_end(requestForm) }}
        </div> 
    </div> 
</div>   
{% endblock %}