<form method="post" action="{{ path('admin.code_promo_delete', {'id': code_promo.id}) }}" onsubmit="return confirm('Etes vous sûr de vouloir supprimer ce code promo ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ code_promo.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
