{% extends 'base.html.twig' %}

{% block title %}Nouveau produit{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-6">
        <h1>Créer un produit</h1>
        <br>
        {{ include('product/_form.html.twig') }}
    </div>
</div>
    <br>
    <a href="{{ path('admin.product_index') }}" class="btn btn-success">Retourner</a>
{% endblock %}
