<form method="post" action="{{ path('admin.promo_delete', {'id': promo.id}) }}" onsubmit="return confirm('Etes vous sûr ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ promo.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
