{% extends 'base.html.twig' %}

{% block title %}Nouvelle promotion{% endblock %}

{% block body %}
    <h1>Créer une promo</h1><br>

    {{ include('promo/_form.html.twig') }}
    <br>
    <a href="{{ path('admin.promo_index') }}" class="btn btn-success">Retourner</a>
    </div>
</div>
    
{% endblock %}
{% block javascripts %}
<script>
    $(document).ready(function() {
        $('#promo_product').select2()
    });
</script>
{% endblock %}
