{% extends 'base.html.twig' %}

{% block title %}Nouvelle promotion{% endblock %}

{% block body %}
    <h1>Créer une promo</h1><br>

    {{ include('promo/_form.html.twig') }}
    <br>
    <a href="{{ path('admin.promo_index') }}" class="btn btn-success">Retourner</a>
    </div>
</div>
    
{% endblock %}
{% block javascripts %}
<script>
    $(document).ready(function() {
        $('#command_products').select2()
         const getProductData = () => {
            let selectProducts = $('#command_products')
            let productUrl = 'products'
            let params = '?howMany[gte]=1&pagination=false' // products which exist in the stock howMany != 0
            sendHttpRequest('get', urlApi + productUrl + params)
                .then(products => {
                    products['hydra:member'].forEach(product => {
                        selectProducts.append(new Option(product.code,product.id))    
                    })
                }).catch(err => {
                console.log(err.message)
            })
        }
        getProductData();
    });
</script>
{% endblock %}
