<br>
<b>{{username}}</b>, Nous sommes heureux de vous compter parmi nos clients !
<br>
<p>Pour compléter votre profil, cliquez <a href="https://paraeljinene.tn/profile">ici</a></p>
<br>
<p>Bien cordialement,</p>
<br>
<a href="https://www.paraeljinene.tn">
    <img class="rounded-circle" src="https://paraeljinene.tn/images/logo.jpg" alt="parapharmacie" style="width:250px;height:250px;">
</a>